@tailwind base;
@tailwind components;
@tailwind utilities;
  

@media (max-width: 768px) {
    .mobile\\:bottom-0 {
      bottom: 0;
    }
    .mobile\\:right-0 {
      right: 0;
    }
    .mobile\\:mb-6 {
      margin-bottom: 1.5rem;
    }
    .mobile\\:mr-6 {
      margin-right: 1.5rem;
    }
  }